fastapi==0.115.11
uvicorn==0.34.0
python-dotenv==1.0.1
pydantic==2.10.6
pydantic[email]==2.10.6
supabase==2.13.0
httpx==0.28.1
streamlit>=1.31.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.9